.navsec
{
	margin-left:auto;
	margin-right:auto;
	width:30%;
	float:left;
	border-bottom:4px FFFFFF solid;
	font-family:sans-serif;
	line-height:2;

}
.navspec
{
	width:33%;
	float:left;
	margin-left:auto;
	margin-right:auto;
	border-bottom:4px FFFFFF solid;
	line-height: 2;
}
.imgsize
{
	width:40%;
	height:40%;
	align-content:center;
}
#main
{
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSTMtqoTtqaJ14v-s5AMIYtOzcocTaoLlbfaU67b6s5UrkSnine');
}
p{
	height:1000px;
	font-size:30;
	text-align:justify;
	color:white;
}

h1:hover
{
	background-color:#0066ff;
}
